<%- include('./header.ejs') %>

<h1>Reports</h1>

<div>
    <a class="btn btn-info" href="/admin/export-user">Export Details</a>
    <a class="btn btn-info" href="/admin/export-user-pdf">Export User into pdf</a>
</div>

<style>
    #inq #inquiry::-webkit-scrollbar{
        display: none;
    }
    #inq::-webkit-scrollbar{
        display: none;
    }
      body{
            overflow-y: hidden;
          }

          .container-fluid{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
          }
</style>
  
                    <div class="container-fluid p-5 col-md-10 d-flex align-items-center justify-content-around" >
                       
        
                                <div class="card" onclick="location.href='/admin/registerReports'" >
                                    <lord-icon
                                        src="https://cdn.lordicon.com/ghhwiltn.json"
                                        trigger="in"
                                        delay="200"
                                        state="in-reveal"
                                        colors="primary:#121331,secondary:#992c2f"
        
                                        
                                        >
                                    </lord-icon>                    
                                        <div class="card-body">
                                          <p class="card-text text-center ">Registration Reports</p>
                                        </div>
                                </div>
        
                                <div class="card" onclick="location.href='/admin/inquiryReports'" >
                                    <lord-icon
                                        src="https://cdn.lordicon.com/wzwygmng.json"
                                        trigger="in"
                                        state="in-reveal"
                                        colors="primary:#121331,secondary:#992c2f"
                                        >
                                    </lord-icon>                    
                                        <div class="card-body">
                                          <p class="card-text text-center ">Inquiry Reports</p>
                                        </div>
                                </div>  

                                <div class="card" onclick="location.href='/admin/facultyLeave'" >
                                  <lord-icon
                                      src="https://cdn.lordicon.com/bgebyztw.json"
                                      trigger="in"
                                      delay="200"
                                      state="morph-group"
                                      colors="primary:#121331,secondary:#992c2f"
                                      >
                                  </lord-icon>                    
                                      <div class="card-body">
                                        <p class="card-text text-center ">Faculty Leave</p>
                                      </div>
                              </div> 
        
        
                          
                    </div>
                      
        
            



